<H1>About Me</H1>
<ul>
    <li>Graduated from ASU in 2015 witha B.S. in Finance</li>
    <li>Work for an auto supplier in Accounting</li>
    <li>Want to break into web development for the amazing potential of the industry</li>
</ul>

<%= link_to 'Home', root_path %>