
@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('blocks.png');
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid black;
}

.article-actions {
  border-top: 1px solid black;
}

.description {
  margin-top: 0px
}

.article-title {
  font-weight: bold; 
  font-size: 1.5em;
}

.article-body {
  border-top: 1p solid black;
  padding-top: 15px;
  padding-top: 15x;
}
